body {
  background-color: #D1D2D2;
  color: #131413; 
  font-family: 'Brown';
}
h1.title {
font-size: 1.8em;
font-weight: 300;
color: #131413;
text-align:center;
margin-top: 2%;
text-shadow: 2px 2px #A28F9D;
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
line-height: 60px;
background-color: transparent;
}
.footer .container {
  width: 100%!important;
}
.hello {
  font-family: 'Brown';
}
div.footer-left  {
  float: left;
  margin-left: 2%;
  font-size: 12px;
  color: #131413;
}
.footer-left img {
  max-width: 18px;
  height: auto;
}


.about a {
  float: right;
  right: 4%;
  position: fixed;
  top: 5%;
  color: #131413;
}

h1.about {
  float: right;
  right: 4%;
  position: fixed;
  top: 3%;
  font-size: 0.9em;
  font-family: 'Brown';
}
a.footer-right {
  float: right;
  margin-right: 2%;
    font-size: 0.9em;
    color: #131413;
   font-family: 'Brown';
}

div.skill-thumb {
  position: relative;
  background-color: black;
  height: 35vh;
  min-height: 15rem;
  width: 100%;
  overflow: hidden;
    box-shadow: 10px 15px rgb(162,143,157);
}

div.skill-thumb video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 300px;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

div.skill-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;

  width: auto;
  height: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

div.skill-thumb .container {
  position: relative;
  z-index: 2;
}

div.skill-thumb .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #131413;
  opacity: 0.7;
  z-index: 1;
}
div.w-100 h1  {
  color: #D1D2D2;
  font-size: 1.5em;
}
div.w-100 h2  {
  color: #D1D2D2;
   font-size: 0.8em;
}
.trzy-widea {
	margin-top: 20%;
  margin-left: 2%;
  margin-right: 2%;
}
h1 {
	font-size: 28px;
}
h2 {
	font-size: 20px;
}
@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') transparent no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}